ol { /* -------------------liste à puce--------------------*/
    counter-reset: livres;
    width: 300px;
    margin: 0 auto;
}

ol p {
    font-weight: bold;
    font-family: fantasy, sans-serif;
}

ol li {
    list-style: none;
    counter-increment: livres;
    color: ghostwhite;
    margin-bottom: 15px;
}

ol li:before {
	content: counter(livres) ; /* on affiche le compteur */
	padding: 5px 10px;
	margin-right: 8px;
	background: #678;
	-moz-border-radius: 60px;
	border-radius: 60px;
	font-weight: bold;
	font-size: 0.8em;
}

ol li a {
    color: ghostwhite;
    text-decoration: none;
}

ol li a:hover {
    color: rgb(209, 185, 124);
}
/*----------------------- RESUME DES LIVRES -----------------------*/
h2 {
    color: rgb(209, 185, 124);
    padding-top: 23px;
}

figure + img {
    width: 130px;
    float: left;
    margin: 20px;
}

h2 + img {
    width: 130px;
    float: left;
    margin: 20px;
}
