* {
    box-sizing: border-box;
}

body {
    background-color: black;
}

.wrap {
    width: 960px;
    margin: 0 auto;
    position: relative;
}
/*------------------------- HEADER --------------------------*/
header {
    position: relative;
    height: 350px;
}

header img {
    width: 700px;
    margin: 0;
    position: absolute;
    right: 0;
}

.logo {
    width: 400px;
    position: absolute;
    top: 50px;
    left: 0;
}

h1 {
    position: absolute;
    top: 200px;
    left: 100px;
    color: rgb(209, 185, 124);
    font-size: 15px;
}
/*------------------- NAV -------------------------------*/
nav {
    width: 200px;
    position: relative;
    float: left;
    padding-top: 25px;
}

nav p {
    font-size: 24px;
    margin-bottom: 0;
    text-align: center;
    font-weight: bold;
    color: rgb(51, 58, 58);
    font-size: 30px;
    background-color: rgb(209, 185, 124);
    padding: 0;
}

nav ul {
    list-style: none;
    padding-left: 10px;
    margin-bottom: 30px;
}

nav ul li a:hover, nav ul li a.active {
    border: 1px solid rgb(209, 185, 124);
    border-radius: 20px;
}

nav ul li a {
    text-decoration: none;
    color: rgb(209, 185, 124);
    padding: 10px;
    padding-left: 17px;
    display: block;
    border: 1px solid transparent;
}
/*----------------------------------- MAIN -----------------------------*/
.principal {
    border-radius: 10px;
    position: relative;
    margin-left: 220px;
    background-color: rgb(51, 58, 58);
    padding: 20px;
}

.flag {
    float: right;
    width: 30px;
    right: 10px;
    top: 0;
}
/*------------------------------ PARAGRAPH ----------------------*/
h2 {
    text-align: center;
    font-weight: bold;
    color: rgb(51, 58, 58);
    font-size: 30px;
    background-color: rgb(209, 185, 124);
    margin-top: 40px;
}

.principal p::first-letter{
    font-size: 150%;
    color: rgb(209, 185, 124);
}

p {
    color: ghostwhite;
    text-align: justify;
}
